
@keyframes giftCuleMidHide
{
0%   {filter:alpha(opacity=1);-moz-opacity:1;opacity: 1;top:-156px; }
100% { filter:alpha(opacity=0);-moz-opacity:0;opacity: 0; top:0px;}
}

@-moz-keyframes giftCuleMidHide /* Firefox */
{
0%   {filter:alpha(opacity=1);-moz-opacity:1;opacity: 1;top:-156px; }
100% { filter:alpha(opacity=0);-moz-opacity:0;opacity: 0; top:0px;}	
}

@-webkit-keyframes giftCuleMidHide /* Safari 和 Chrome */
{
0%   {filter:alpha(opacity=1);-moz-opacity:1;opacity: 1;top:-156px; }
100% { filter:alpha(opacity=0);-moz-opacity:0;opacity: 0; top:0px;}	
}

@-o-keyframes giftCuleMidHide /* Opera */
{
0%   {filter:alpha(opacity=1);-moz-opacity:1;opacity: 1;top:-156px; }
100% { filter:alpha(opacity=0);-moz-opacity:0;opacity: 0; top:0px;}	
}



@keyframes giftCuleMid
{
0%   {filter:alpha(opacity=0);-moz-opacity:0;opacity: 0;  top:0px;}
100% {filter:alpha(opacity=1);-moz-opacity:1;opacity: 1; top:-156px;}
}

@-moz-keyframes giftCuleMid /* Firefox */
{
0%   {filter:alpha(opacity=0);-moz-opacity:0;opacity: 0;  top:0px;}
100% {filter:alpha(opacity=1);-moz-opacity:1;opacity: 1; top:-156px;}
}

@-webkit-keyframes giftCuleMid /* Safari 和 Chrome */
{
0%   {filter:alpha(opacity=0);-moz-opacity:0;opacity: 0;  top:0px;}
100% {filter:alpha(opacity=1);-moz-opacity:1;opacity: 1; top:-156px;}
}

@-o-keyframes giftCuleMid /* Opera */
{
0%   {filter:alpha(opacity=0);-moz-opacity:0;opacity: 0;  top:0px;}
100% {filter:alpha(opacity=1);-moz-opacity:1;opacity: 1; top:-156px;}
}

	